*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*INTERLINEADO 1.5*/
    line-height: 1.5;
    }


     /*wasap fixes*//*wasap fixes*//*wasap fixes*/
      /*wasap fixes*//*wasap fixes*//*wasap fixes*/
      .whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 90px;  /* Ajusta el tamaño según necesites */
  height: 90px;
  background-color: #ffffff; /* Color de fondo */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.whatsapp-icon img {
  width: 60px; /* Tamaño del logo */
 height:auto;
}

@media(max-width: 432px){
    .whatsapp-icon{
        height: 70px;
        width: 70px;
    }
    .whatsapp-icon img{
        height: 50px;
        width: 50px;
    }
}
/*wasap fixes*//*wasap fixes*//*wasap fixes*//*wasap fixes*/
/*wasap fixes*//*wasap fixes*//*wasap fixes*//*wasap fixes*/


    /*BOTON WHATSAPP*/
    /*boton wasap//boton wasap//boton wasap*/
.btn-wsp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #1e87ff;
    color: white;
    text-decoration: none;
    padding: 18px 25px;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: 500;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease;
    	    opacity: 0;
            transform: translateX(300px);
            transition: opacity 1s ease-out 0.5s, transform 1s ease-out 0.5s;
}

.btn-wsp:hover {
    background-color: #1ebe5b;
    transform: scale(1.03);
}

.wsp-icon-img img {
    width: 40px;
    height: 40px;
    animation: pulse 2s infinite;
    border-radius: 50%;
    background-color: white;
    padding: 6px;
}

.wsp-text {
    text-align: left;
    line-height: 1.2;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
@media (max-width:800px){
    .btn-wsp {
        
        width: 80%;
    }
}
/*boton wasap//boton wasap//boton wasap//boton wasap*/
    /*cambio de color de la barra*/
    #contenedor-nav.scrolled {
        background-color: rgba(253, 253, 253, 0.692); /* 📌 Nuevo color al hacer scroll */
        color: rgba(255, 255, 255, 0);
    }
    
    #contenedor-nav a.scrolled{
        color: rgba(13, 213, 240, 0.486) ;
    }
    /*----------------------------*/
    
    body, html{
        font-family:"Outfit", sans-serif;
        overflow-x: hidden;
    } 
        body.bloqueado {
        overflow: hidden;
        position: fixed;
        width: 100%;
        }
    .hero{
        background-image: url("../img/fondop-cirugia.png");
        
        background-size: cover;
        background-attachment: fixed;
        background-position: 0px 0px;
        height: 96vh;
        display: flex;
        clip-path: ellipse(110% 100% at 50% 0%);
       /* transition: transform 06s ease-in-out;*/
    }
    /*
    .hero:hover{
        transform: scale(1.1);
    }
    */


     /*-----------------------------------
            carga de logo               ---
                                        ---*/
    /* Pantalla de carga                ---*/ 
    #preloader {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        transition: opacity 0.5s ease-out;
    }

    #preloader img {
        width: 450px; /* Ajusta el tamaño del logo */
        animation: fadeIn 1s ease-in-out;
    }
    @media (max-width:500px){
        #preloader img {
            width: 300px;
        }
    }

    /* Animación de entrada */
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    /* Ocultar la pantalla de carga */
    .hidden {
        opacity: 0;
        pointer-events: none;
    }
    /*---------------------------------*/

    .barra-navegacion {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Montserrat';
  background: #00b7ff;
  backdrop-filter: blur(5px);
  z-index: 1000;
  display: flex;
  justify-content: center; /* ✅ CENTRA */
}
    .contenedor-nav{
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: #a0c71300;
            /* para la transicion de la letra*/
            opacity: 0;
            transform: translateY(-50px);
            /*transition: opacity 0.3s ease-out 1s, transform 0.4s ease-out 1s;*/
            transition: opacity 0.3s ease-out 0s, transform 1s ease-out 0s;
    }

    /*letra de la barra menu*/
    .contenedor-nav a{
        color: rgb(255, 255, 255);
            text-decoration: none;
            font-size: 18px;
            transition: 0.3s;
            padding: 10px;
            border: 1px;
            
            font-weight: 800;
    }
    .contenedor-nav a:hover {
            color: rgb(27, 92, 136);
        }
    .iconos-redes1{
        
        background-color: rgba(185, 13, 13, 0);
        display: flex;
        gap:15px;
        justify-content: space-evenly;
    }
    .menu{
        position: relative;
         display: inline-block;
         top: 0px;
    }
    /* sub menu */
    .menu-item{
            display: none;
            position: absolute;
            background: rgba(255, 255, 255, 0.993);
            min-width: 200px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            z-index: 1001; /*agregado*/
    }
    .menu-item a{
        color: rgb(15, 173, 212);
            padding: 12px;
            display: block;
            font-size: 15px;
    }
    .menu-item a:hover{
        background: #f1f1f1;
    }
    .submenu{
        position: relative;
    }
    .submenu-item{
            display: none;
            position: absolute;
            left: 100%;
            top: 0;
            background: white;
            min-width: 180px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
    }
    .menu:hover .menu-item, .submenu:hover .submenu-item{
        display: block;
    }
    .logo {
            
            font-weight: bold;
            
            height: 100px;
            
            
            display: flex;
    }

    /*logo en la barra de navegador para celular*/
    
    .logo-celular img{
        height:60px;
        display: none;
    }
    @media (max-width:768px){
        .contenedor-img-android{
            background-color: rgba(0, 100, 0, 0);
            width: 100%;
            display: flex;
        }
        .logo-celular img{
            height: 80px;
            display: block;
        }
        .logo-celular{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        }
    }
    @media (max-width:432px){
        .logo-celular img{
            display: block;
            height:60px;
        }
    }
    /*logo en la barra de navegador para celular*/


 /*barra de navegador para celular pequeño*/
    /* Menú hamburguesa */
    .menu-toggle {
      display: none;
      font-size: 50px;
      
      background: none;
      border: none;
      color: white;
      cursor: pointer;
    }

    /* Menú móvil lateral */
    .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 998;
    }

    .overlay.active {
      display: block;
    }

    .menu-movil {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 250px;
      background-color: #057097;
      height: 100vh;
      padding-top: 30px;
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
      transform: translateX(-100%);
      transition: transform 0.3s ease;
      z-index: 9999;
      overflow-y: auto;
    }

    .menu-movil.active {
      transform: translateX(0);
    }
   
    .close-menu {
      position: absolute;
      top: 25px;
      left:215px;
      background: none;
      border: none;
      
      color: white;
      cursor: pointer;
    }
    
    .menu-movil ul {
      list-style: none;
      padding: 6px 0 0 0;
      margin: 0;
    }

    .menu-movil li {
      padding: 15px 20px;
    }

    .menu-movil a,
    .menu-movil button {
      color: white;
      background: none;
      border: none;
      font-size: 16px;
      text-align: left;
      cursor: pointer;
      text-decoration: none;
    }

    .submenu {
      display: none;
      padding-left: 20px;
      flex-direction: column;
  gap: 5px;
    }

    .submenu.active {
      display: flex;
    }

    /* Responsive */
    @media (max-width: 768px) {
      .contenedor-nav > a,
      .menu,
      .iconos-redes1,
      .logo {
        display: none;
      }
      
      .menu-toggle {
        display: block;
      }
      .menu-movil{
        display: block;
      }
    }
    @media (max-width:432px){

        .menu-movil ul{
             padding: 0.1px 0 0 0;
        }
    }


    
          /*titulo principal*/
    .contenedor-imgodonto{
      background-color: #1e87ff00;
      width: 100%;
    }
        #img-cirujia-princi{
            opacity: 0;
            transform: translateX(-300px);
            transition: opacity 1s ease-out 0.5s, transform 1s ease-out 0.5s;
        }
        
        .contenedor-titulo{
            display: flex;
            width: 100%;
            background-color: rgba(165, 42, 42, 0);
            justify-content: start;
            align-items: center;
        }
        .contenedor-titulo1{
            width: 90%;
            
            display: block;
            background-color: rgba(139, 118, 0, 0);
        }
    .titulo-principal{
        
       
        font-size: 30px;
        background-color: rgba(255, 0, 0, 0);
        text-align: center;
        height: auto;
        width: 100%;
        color: #ffffff;
        padding-bottom:45px;

    }
    .titulo-principal h4{
        font-size:25px;
    }
    .titulo-principal p{
        font-size:20px;
    }
    #titulo-principal1{
        opacity: 0;
        transform: translateY(-150px);
        transition: opacity 0.3s ease-out 0s, transform 1s ease-out 0s;
    }
    #titulo-parrafo1{
       	    opacity: 0;
            transform: translateX(300px);
            transition: opacity 1s ease-out 0.5s, transform 1s ease-out 0.5s; 
    }
    #titulo-parrafo2{
        	    opacity: 0;
            transform: translateX(-300px);
            transition: opacity 1s ease-out 0.5s, transform 1s ease-out 0.5s;
    }
    .contenedor-contacto{
        
        
        
        background-color: rgba(0, 0, 255, 0);
        width: 100%;
        
       
        justify-content: center;
        
        display: flex;
    }
    .contenedor-contacto button{
       font-family: 'Montserrat';
        background-color: #36C3FF;
        color: #ffffff;
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 20px; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    border-radius: 50px; /* Bordes completamente redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: all 0.4s ease-in-out; /* Transición suave */
    width: auto;
    height: 60px;
    
            opacity: 0;
            transform: translateY(300px);
            transition: opacity 1s ease-out 0.5s, transform 1s ease-out 0.5s;
    }
    .contenedor-contacto button:hover {
        background-color:  #36C3FF; /* Cambio de color al pasar el mouse */
        color: #f1f1f1;
        transform: scale(1.1);
    }

     /*resolucion titulo principal*/
/*resolucion titulo principal*/
    @media(max-width:1200px){
        .hero{
            height: 90vh;
        }
        .contenedor-imgodonto{
            background-color: rgba(69, 165, 42, 0);
        }
         .contenedor-titulo{
            background-color: rgba(133, 38, 4, 0);
        }
    }
   
    @media(max-width:925px){
        .hero{
            display: block;
            height: 100vh;
            
        }
        .contenedor-imgodonto{
            background-color: rgba(165, 42, 42, 0);
            width: 100%;
            height: 60%;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .img-cirujia-princi{
            background-color: rgba(127, 255, 212, 0);
            width: 100%;
            align-items: end;
        }
         .img-cirujia-princi img{
            width: 35vh;
            background-color: rgba(137, 43, 226, 0);
         }
        .contenedor-titulo{
            background-color: rgba(255, 127, 80, 0);
            width: 100%;
            justify-content: center;
            
        }
        
    }
    @media(max-width:773px){
        .contenedor-imgodonto{
            background-color: rgba(255, 235, 205, 0);
        }
        #titulo-principal1{
            font-size: 34px;
        }
        .titulo-principal h4{
            font-size: 23px;
        }
    }
    @media(max-width:500px){
        .hero{
            display: block;
            height: 100vh;
        }
        .contenedor-titulo{
            
            margin: 0;
        }
        .contenedor-imgodonto{
            
            height: 60%;
        }
        .titulo-principal h4{
            font-size: 2.3vh;
        }
        
        #contenedor-contacto{
            width: auto;
        }
        .contenedor-contacto button{
            height: 40px; 
            padding:0px 10px 0px 10px; 
            width:auto;
        }
        #titulo-principal1{
        font-size: 25px;
        
    }
    .titulo-principal h4,.titulo-principal p{
        font-size: 18px;
       
    }
    .contenedor-contacto button{
        font-family: 'Outfit';
        font-size: 16px;
        width: auto;
        background-color: white;
        color: #000000;
    }
    }
    /*resolucion titulo principal*/
    /*resolucion titulo principal*/
    /*------------------------------*/
    
    /*CUERPO*/
    .main{
        width: 100%;
        height: auto;
        background-color: rgba(255, 255, 255, 0);
    }
    /*parrafo 1*/
    .contenedor-lista{
        margin-top: 100px;
        height: auto;
        display: flex;
        width: 100%;
        justify-content: center;
        
    }
    .parrafo-lista{
        display: flex;
    
        height: auto;
        width: 60%;
       
       
        
        
        
    }
    
    .contenedor-parrafo {
        padding: 0 0 0 30px;
        
        color: #02427e;
        width: 60%;
        	    opacity: 0;
            transform: translateX(-300px);
            transition: opacity 1s ease-out 0.5s, transform 1s ease-out 0.5s;
    }
    .titulo{
        font-size: 25px;
    }
    
    .contenedor-parrafo h3 {
        font-size: 18.5px;
        margin-top: 15px;
        color: #057ff1;
    }
    
    .contenedor-parrafo p {
        font-size: 17.5px;
        color: rgb(0, 0, 0);
    }
    
    .parrafo-imagen-lista{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.925);
        	    opacity: 0;
            transform: translateX(300px);
            transition: opacity 1s ease-out 0.5s, transform 1s ease-out 0.5s;
    }
    .parrafo-imagen-lista img{
        height:400px;
        border-radius: 20px;
    }
    .parrafo-imagen-lista1 img{
            height:330px;
            border-radius: 20px;
    }
    @media (max-width: 1500px){
        .parrafo-lista{
            
            width: 90%;
        }
       
    }
    @media (max-width: 980px){
        .parrafo-lista{
            margin-top: 50px;
            margin-bottom: 50px;
            display: block;
            
        }
        .contenedor-parrafo{
            width: 100%;
        }
    }
    @media (max-width: 500px){
        
    .contenedor-lista{
        margin-top: 0;
    }
    .parrafo-imagen-lista{
        padding: 25px;
    
    }
    .parrafo-imagen-lista img{
        width: 90%;
        height: 90%;
    }
    .contenedor-parrafo h2,.contenedor-parrafo h3{
        font-size: 17px;
    }
    .contenedor-parrafo p{
        font-size: 15px;
    }
         
    }
    /*parrafo 2*/
   .contenedor-lista2{
    width: 100%;
    display: flex;
    justify-content: center;
   }
   .parrafo-lista2{
    display: flex;
    width: 60%;
    
    
   }
    .contenedor-parrafo2{
        width: 100%;
        	    opacity: 0;
            transform: translateX(-300px);
            transition: opacity 1s ease-out 0.5s, transform 1s ease-out 0.5s;
    }
   .contenedor-parrafo2 h2,.contenedor-parrafo2 p{
    padding-bottom: 15px;
   }
   .contenedor-parrafo2 p{
    font-size: 17.5px;
   }
    
    .contenedor-parrafo2 h2,.contenedor-pregu-frecuente h1{
        font-size: 25px;
        color: #02427e;
    }
    .parrafo-imagen-lista1{
        display: flex;
        justify-content: center;
        align-items: center;
        	    opacity: 0;
            transform: translateX(300px);
            transition: opacity 1s ease-out 0.5s, transform 1s ease-out 0.5s;
    }
    @media (max-width: 1500px){
        .parrafo-lista2{
            
            width: 80%;
        }
       
    }
    @media (max-width: 1100px){
        .parrafo-lista2{
            display: block;
           
        }
        
    }
    @media (max-width: 500px){
        
    
    
         
    }

    /*parrafo 3*/
    .contenedor-cuerpo{
        
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .contenedor-pregu-frecuente{
        background-color: rgba(255, 255, 255, 0.683);
        width: 60%;
    }
    .padre-contenedor-pregunta{
        background-color: rgb(255, 255, 255);
        width: 100%;
    }
    .contenedor-pregu-frecuente h1{
        color:#057ff1;
        font-size: 25px;
        text-align: center;
    }
    .titulo-preguntas{
        	    opacity: 0;
            transform: translateX(-300px);
            transition: opacity 1s ease-out 0.5s, transform 1s ease-out 0.5s;
    }
    .contenedor-preguntas {
        border-bottom: 1px solid #ddd;
        padding: 15px 0;
        cursor: pointer;
        width: auto;
        background-color: rgba(0, 255, 255, 0.021);

        	opacity: 0;
            transform: translateX(300px);
            transition: opacity 1s ease-out 0.5s, transform 1s ease-out 0.5s;
    }

    .pregunta {
        color: #057ff1;
       font-weight: 700;
        font-size: 17.5px;
    }

    .respuesta {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: height 4s ease, opacity 1.6s ease;
        color: #333;
        /*font-size: 0.95rem;*/
        font-size: 17.5px;
        margin-top: 8px;
        width: auto;
    }
    
    .contenedor-preguntas.active .respuesta {
        max-height: 300px; /* Lo suficientemente alto para el contenido */
        opacity: 1;
        background-color: rgba(0, 255, 255, 0);
        
    }

    @media (max-width: 1300px){
        
        .contenedor-pregu-frecuente{
            
            width: 90%;
        }
        .padre-contenedor-pregunta{
            width: 100%;
        }
    }
    @media (max-width:500px){
        .contenedor-pregu-frecuente h1{
            font-size: 17px;

        }
        .pregunta, .respuesta{
            font-size: 15px;
        }
    }
        /*FOOTER*/
    .raiz {
      background-color: #00b7ff;
      width: 100%;
      height: auto;
      font-family: 'Montserrat';
    }

    .contenedor-footer {
      background-color: #00b7ff;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      padding: 20px 0;
      padding-left: 350px; padding-right: 350px;
    }
    .derechos{
        text-align: center;
    }
    .icono-logo {
       
      align-items: center;
      justify-content: center;
      padding: 20px;
    }
.icono-logo img{
     height: 120px;
}
    .iconos-redes {
       
    flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      width: auto;
    }

    .icono1 {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 15px;
      border-radius: 8px;
      transition: background 0.3s ease;
    }

    

    .icono1 a {
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;
      color: #1a1a1a;
    }

    .icono-img{
        height: 20px;
    }
    /*footer media query*/
    @media (max-width: 1000px){
        .raiz {
        padding: 20px 0;
      }

      .contenedor-footer {
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
      }

      .icono-logo {
        margin-bottom: 20px;
      }

      .iconos-redes {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }

      .icono1 {
        width: 90%;
        justify-content: center;
        padding: 15px;
      }

      .icono1 a {
        justify-content: center;
        width: 100%;
        text-align: center;
      }
    }
    @media (max-width: 500px){
        .raiz{
            font-size: 14px;
        }
        .icono-logo {
        margin: 0;
        padding: 0;
      }
      .icono1{
        padding: 10px;
      }
      .icono-logo img{
        height: 70px;
      }

    }

/*finnnnn  footer media query finnnnn  */

    

    


/*titulo imagen prinicpal*/
    
    @media (max-width: 500px){

          /*PARRAFO 1*/
    
    /*PARRAFO 2*/
    .contenedor-lista2{
        padding: 0;
    }
    .parrafo-lista2{
        display: block;
    }
    .contenedor-parrafo2 h2{
        font-size: 17px;
    }
    .contenedor-parrafo2 p{
        font-size: 15px;
    }
    .parrafo-imagen-lista1 img{
        height: 30vh;
    }
    
    }

  


/*-------BARRA DE NAVEGACION---------*/
@media (max-width: 934px){
    .iconos-redes1 {
        width: 100%;
        
        justify-content: center;
        
    }
}
@media (max-width: 800px){
    .barra-navegacion{
        height: 150px;
        
    }
}
@media (max-width: 769px){
    .barra-navegacion{
        height: 100px;
        
    }
}

/*para activar la transicion*/
    .contenedor-nav.show,
    #img-cirujia-princi.show,
    #titulo-principal1.show,
    #titulo-parrafo1.show,
    #titulo-parrafo2.show,
    #contenedor-contacto.show,
    
    .contenedor-parrafo.show,
    .parrafo-imagen-lista.show,
    
    .btn-wsp.show,

    .contenedor-parrafo2.show,
    .parrafo-imagen-lista1.show,
    
    .titulo-preguntas.show,
    .contenedor-preguntas.show{
        opacity: 1 ;
        transform: translateX(0) translateY(0) ;
    }